name: unit-tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Build
        run: docker-compose build
      - name: Unit Tests
        run: docker-compose run --rm --no-deps --entrypoint=pytest app /tests/unit -v
